@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

* {
  overscroll-behavior: none;
  outline-color: black;
  outline-offset: 3px;
}
